{% extends "base.html" %}

{% block title %}Medlabs Response{% endblock %}

{% block content %}
<link rel="stylesheet" href="static\medlabs.css">
<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container mt-4">
    <div class="row">
        <!-- Confirmed Diagnosis Section -->
        <div class="col-md-12 mb-4">
            <h2>Confirmed Diagnosis</h2>
            {% if confirmed %}
                <div class="right-pane" >
                    <div class="card-body left-pane">
                        <ul class="list-unstyled" style="padding: 20px;">
                            {% for disease, details in confirmed.items() %}
                                <li class="mb-4">
                                    <h5><div style="font-weight: bold;">{{ details.verbose_name }} ({{ details.disease_name }})</div></h5>
                                    <p><strong>ICD-10 Codes:</strong> {{ details.ICD_10|join(', ') }}</p>
                                    {% if details.confirmed_rules %}
                                    <div ><h6 style="font-weight:bold;">Confirmed Rules:</h6></div>
                                        <ul>
                                            {% for rule in details.confirmed_rules %}
                                                {% for condition in rule.conditions %}
                                                    <li>{{ condition }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>No confirmed rules available.</p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
            <div class="right-pane">
                <div class="card-body left-pane" style="text-align: center;">
                   
               
                        <p style="padding-top: 10px;"><b>No confirmed diagnosis!</b></p>
                   
                </div>
            </div>
               
            {% endif %}
        </div>

        <!-- Likely Diagnosis Section -->
        {% if "normal" in names %}
        <div class="alert alert-success text-center" role="alert" style="font-size: 1.5rem; font-weight: bold;">
            The Patient is Healthy According to MedLab Predictions!
        </div>
        {% else %}
        <div class="col-md-12 mb-4">
            <h3>Likely Diagnosis</h3>
             <!-- Pie Chart for Disease Probabilities -->
             <div class="chart-container mt-4" style="width:60%; max-width: 300px; margin: 0 auto;">
               
                <canvas id="diseaseProbabilitiesChart"></canvas>
            </div>
        </div>
 
            {% for name in names %}
            <div class="mb-3">
                <!-- Disease Name Button -->
                {% if probs[name] >= 70 %}
                    <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#disease-{{ loop.index }}" aria-expanded="true" aria-controls="disease-{{ loop.index }}" style="background-color: #0287CA">
                        <strong>{{ name }}</strong> - Probability: <span class="badge bg-danger">{{ (probs[name]/100)|round(3) }}</span>
                    </button>
                    {% elif probs[name] > 30 and probs[name] < 50 %}
                    <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#disease-{{ loop.index }}" aria-expanded="true" aria-controls="disease-{{ loop.index }}" style="background-color: #0287CA">
                        <strong>{{ name }}</strong> - Probability: <span class="badge bg-warning">{{ (probs[name] / 100)|round(3) }}</span>
                    </button>
                {%else%}
                <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#disease-{{ loop.index }}" aria-expanded="true" aria-controls="disease-{{ loop.index }}" style="background-color: #0287CA">
                    <strong>{{ name }}</strong> - Probability: <span class="badge bg-secondary">{{ (probs[name]/100)|round(3) }}</span>
                </button>
                {% endif %}
                <!-- Feature Importance Dropdown -->
                <div id="disease-{{ loop.index }}" class="collapse mt-2">
                    <div class="card card-body">
                        <h5>Feature Importance</h5>
                        {% if feature_imp %}
                            <div class="table-responsive" style="max-height: 200px; overflow-y: auto;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Feature</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in feature_imp[name].items() %}
                                            <tr>
                                                <td>{{ key }}</td>
                                                <td>{{ value|float|round(2) }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p>No feature importance data available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Convert the names and probs variables to JSON arrays
        console.log('Names:', names);
        console.log('Probs:', probs);
        var names = {{ names|tojson }};
        var probs = {{ probs|tojson }};
        // Extract labels and data from names and probs
        var labels = names;
        var data = names.map(function(name) {
            return probs[name]|| 0;
        });
 
        // Chart.js - Pie Chart for Disease Probabilities
        var ctx = document.getElementById('diseaseProbabilitiesChart').getContext('2d');
        var diseaseProbabilitiesChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40'],
                    hoverBackgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                let label = context.label || '';
                                if (context.parsed !== null) {
                                    // Convert the value to a percentage and round to one decimal place
                                    let value = (context.parsed).toFixed(1);
                                    label += ': ' + value + '%';
                                }
                                return label;
                            }
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'Disease Probabilities'
                }
            }
        });
    });
</script>
{% endblock %}
